<footer id="footer">
  <div class="outer">
    <div id="footer-info" class="inner">
      <%- partial('plugins/sites/visit') %>
      <p>
        <a href="http://www.miitbeian.gov.cn" target="_blank">豫ICP备17044823号-2</a>
      &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %><br>
      </p>
    </div>
  </div>
</footer>